.login-pf body {
    background: #f8fafc;
}

.login-pf #kc-login {
    border-radius: 0.375rem;
    background-color: #06b6d4;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.card-pf {
    border-color: #06b6d4;
    border-radius: 1rem;
}

.pf-c-form-control {
    outline: none;
}

.login-pf #kc-header-wrapper {
    color: #18181b;
    text-transform: capitalize;
}

.login-pf #kc-form input {
    border-radius: .5rem;
}

#kc-register-form input {
    border-radius: .5rem;
}

#kc-register-form .pf-c-button {
    border-radius: 0.5rem;
    background-color: #06b6d4;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#kc-register-form input {
    border-radius: 0.5rem;
}

#kc-reset-password-form .pf-c-button {
    border-radius: 0.5rem;
    background-color: #0f172a;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#kc-reset-password-form input {
    border-radius: 0.5rem;
}