version: '3.2'
services:
  keycloak:
    image: 'quay.io/keycloak/keycloak:24.0.2'
    ports:
      - '8080:8080'
    environment:
      KEYCLOAK_ADMIN: solid
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: ${KEYCLOAK_DB_DATABASE}
      KC_DB_URL: jdbc:postgresql://${KEYCLOAK_DB_HOST}:${KEYCLOAK_DB_PORT}/${KEYCLOAK_DB_DATABASE}
      KC_DB_USERNAME: ${KEYCLOAK_DB_USERNAME:?KEYCLOAK_DB_USERNAME is empty}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      KC_HTTP_ENABLED: 'true'
      KC_HOSTNAME_STRICT_BACKCHANNEL: 'true'
    command: start --import-realm --db=postgres --proxy=edge --hostname-strict=false --hostname=auth.solidapp.com --hostname-admin=auth.solidapp.com
    restart: always
    volumes:
      - ./config/import:/opt/keycloak/data/import
      - type: bind
        source: ./config/themes
        target: /opt/keycloak/themes
    deploy:
      resources:
        limits:
          memory: 4GiB
